body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 200%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Lobster', cursive;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Pacifico', cursive;
  color: #11999E;
  font-size: 2.5rem;
  font-weight: normal;
}

h4 {
  font-family: 'Titillium Web', sans-serif;
}

hr {
  color: #EAF6F6;
  border-style: dotted none none none;
  height: 3px;
  width: 10%;
  border-width: 15px;
  margin: 200px auto 200px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;

}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top:100px;
}

.title {
  font-family: 'Pacifico', cursive;
  color: #10514E;
  font-size: 2.5rem;
  font-weight: normal;
  margin:auto auto 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top:50px;
}

.face-img {
  width: 15%;
  margin:50px auto 50px auto;
}

.bottom-cloud {
  position: absolute;
  left:300px;
  bottom:300px;
}

.html-img:hover {
  transition: 1s;
  transform: scale(1.2);
  background-color: #3C84AB;
  border-radius: 50%;
}

.python-img:hover {
  transition: 1s;
  transform: scale(1.2);
  background-color: #11999E;
  border-radius: 50%;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.html-img {
  width: 27%;
  float: left;
  margin-right: 50px;
}

.python-img {
  width: 27%;
  float: right;
  margin-right: 50px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  text-shadow: 1px 1px 3px #66BFBF;
  font-family: Georgia;
  color: #ffffff;
  font-size: 34px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;s
}

.copyright {
  color: #EAF6F6;
  font-size: 1.7rem;
  padding: 20px 0;
}

.middle-container {
  background-color: #F8EAD8;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}